<?xml version="1.0" encoding="utf-8"?>
<!-- NUnitで実行する際の設定ファイルです。 -->
<configuration>
	<connectionStrings>
		<add name="DBHelper" connectionString="Integrated Security=SSPI;server=localhost\sqlexpress;"/>
	</connectionStrings>
	<appSettings>
		<add key="DBPrefix" value="ClassLibraryTest.dbo."/>
		<add key="SqlCommandTimeout" value="600"/>
	</appSettings>
</configuration>