<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=test.mdb;" />
  </connectionStrings>
  <appSettings>
    <add key="PluginName" value="OleDb"/>
    <add key="SqlCommandTimeout" value="1000"/>
  </appSettings>
</configuration>